<%= form_for(@referencelist) do |f| %>
  <div class="field hidden">
    <%= f.label :user_id %><br>
    <%= f.select :user_id, options_from_collection_for_select(@users, :id, :to_s) %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <br />
    <%= f.submit class:"btn btn-primary" %>
  </div>
<% end %>
