<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @referencelist.user_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @referencelist.name %>
</p>

<%= link_to 'Edit', edit_referencelist_path(@referencelist) %> |
<%= link_to 'Back', referencelists_path %>
<%= link_to 'Bibtex', bibtex_referencelist_path %>