<p id="notice"><%= notice %></p>
<p>
  <h2>Name: <%= @referencelist.name %></h2>

</p>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Year</th>
      <th>Publisher</th>
      <th>Author</th>
      <th>Title</th>
      <th>Address</th>
      <th>Pages</th>
      <th>Volume</th>
      <th>Edition</th>
      <th>Month</th>
      <th>Series</th>
      <th>Note</th>
    </tr>
  </thead>
  <tbody>
    <% @references.each do |reference| %>
      <tr>
        <td><%= reference.year %></td>
        <td><%= reference.publisher %></td>
        <td><%= reference.author %></td>
        <td><%= reference.title %></td>
        <td><%= reference.address %></td>
        <td><%= reference.pages %></td>
        <td><%= reference.volume %></td>
        <td><%= reference.edition %></td>
        <td><%= reference.month %></td>
        <td><%= reference.series %></td>
        <td><%= reference.note %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%# link_to 'Edit', edit_referencelist_path(@referencelist), class:"btn btn-primary" %>
<%= link_to 'Back', referencelists_path, class:"btn btn-primary" %>
<%= link_to 'Bibtex', bibtex_referencelist_path, class:"btn btn-primary" %>
<%= link_to 'Add Reference', new_reference_path, class:"btn btn-primary" %>