<h2>References</h2>

<table class="table table-bordered">
  <thead>
  <tr>
    <th>Year</th>
    <th>Publisher</th>
    <th>Author</th>
    <th>Title</th>
    <th>Address</th>
    <th>Pages</th>
    <th>Volume</th>
    <th>Edition</th>
    <th>Month</th>
    <th>Series</th>
    <th>Note</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @references.each do |reference| %>
      <tr>
        <td><%= reference.year %></td>
        <td><%= reference.publisher %></td>
        <td><%= reference.author %></td>
        <td><%= reference.title %></td>
        <td><%= reference.address %></td>
        <td><%= reference.pages %></td>
        <td><%= reference.volume %></td>
        <td><%= reference.edition %></td>
        <td><%= reference.month %></td>
        <td><%= reference.series %></td>
        <td><%= reference.note %></td>
        <td><%= link_to 'Edit', edit_reference_path(reference), 'data-no-turbolink' => true, class:"btn btn-danger" %><%= link_to 'Destroy', reference, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= link_to 'Bibtex', bibtex_path, class:'btn btn-primary' %>
<%= link_to 'Add reference', new_reference_path, 'data-no-turbolink' => true, class:'btn btn-primary' %>