<h2>References</h2>

<div id="references"><br>
  <div  class="table-responsive">
    <table>
      <tr>
        <td>
          <input id="search" class="search" placeholder="Search" style="margin-right: 5px" />
          <input id="fuzzy-search" class="fuzzy-search" placeholder="Search" style="margin-right: 5px" /><br><br>
        </td>
        <td>
          <%= link_to 'Add reference', new_reference_path, 'data-no-turbolink' => true, class:'btn btn-primary', style:"margin-bottom: 20px; margin-right: 5px" %>
        </td>
        <td>
          <%= link_to 'Bibtex', bibtex_path, class:'btn btn-primary', style:"margin-bottom: 20px; margin-right: 5px" %>
        </td>
        <td>
          <button style="margin-bottom: 20px" id="showOptional" class="btn btn-primary">Show less / more</button>
        </td>
      </tr>
    </table>
  </div>
  <div  class="table-responsive">
  <table id="referenceslist" class="table table-bordered">
    <thead>
    <tr>
      <th class="ignore">Type</th>
      <th class="ignore">Citation key</th>
      <th class="ignore">Year</th>
      <th class="ignore optional">Publisher</th>
      <th class="ignore optional">Author</th>
      <th class="ignore optional">Editor</th>
      <th class="ignore optional">Journal</th>
      <th class="ignore">Title</th>
      <th class="ignore">Booktitle</th>
      <th class="ignore optional">Organization</th>
      <th class="ignore optional">Address</th>
      <th class="ignore optional">Pages</th>
      <th class="ignore optional">Volume</th>
      <th class="ignore optional">Edition</th>
      <th class="ignore optional">Number</th>
      <th class="ignore optional">Month</th>
      <th class="ignore optional">Series</th>
      <th class="ignore optional">Key</th>
      <th class="ignore optional">Note</th>
      <th class="ignore">Tags</th>
      <th class="ignore">Actions</th>
    </tr>
    </thead>
    <tbody class="list">
      <% @references.each do |reference| %>
        <tr class="reference_item">
          <td class="reference_type"><%= reference.reference_type %></td>
          <td class="citation_key"><%= reference.citation_key %></td>
          <td class="year"><%= reference.year %></td>
          <td class="publisher optional"><%= reference.publisher %></td>
          <td class="author optional"><%= reference.author %></td>
          <td class="editor optional"><%= reference.editor %></td>
          <td class="journal optional"><%= reference.journal %></td>
          <td class="title"><%= reference.title %></td>
          <td class="booktitle"><%= reference.booktitle %></td>
          <td class="organization optional"><%= reference.organization %></td>
          <td class="address optional"><%= reference.address %></td>
          <td class="pages optional"><%= reference.pages %></td>
          <td class="volume optional"><%= reference.volume %></td>
          <td class="edition optional"><%= reference.edition %></td>
          <td class="number optional"><%= reference.number %></td>
          <td class="month optional"><%= reference.month %></td>
          <td class="series optional"><%= reference.series %></td>
          <td class="key optional"><%= reference.key %></td>
          <td class="note optional"><%= reference.note %></td>
          <td class="tag">
            <% reference.tags.each do |t| %><%= t.name %> <% end %>
          </td>
          <td><%= link_to 'Edit', edit_reference_path(reference), 'data-no-turbolink' => true, class:"btn btn-danger" %><%= link_to 'Destroy', reference, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
    </div>
</div>