<p id="notice"><%= notice %></p>

<p>
  <strong>Referencelist:</strong>
  <%= @reference.referencelist_id %>
</p>

<p>
  <strong>Year:</strong>
  <%= @reference.year %>
</p>

<p>
  <strong>Publisher:</strong>
  <%= @reference.publisher %>
</p>

<p>
  <strong>Author:</strong>
  <%= @reference.author %>
</p>

<p>
  <strong>Title:</strong>
  <%= @reference.title %>
</p>

<p>
  <strong>Address:</strong>
  <%= @reference.address %>
</p>

<p>
  <strong>Pages:</strong>
  <%= @reference.pages %>
</p>

<p>
  <strong>Volume:</strong>
  <%= @reference.volume %>
</p>

<p>
  <strong>Edition:</strong>
  <%= @reference.edition %>
</p>

<p>
  <strong>Month:</strong>
  <%= @reference.month %>
</p>

<p>
  <strong>Series:</strong>
  <%= @reference.series %>
</p>

<p>
  <strong>Note:</strong>
  <%= @reference.note %>
</p>

<%= link_to 'Edit', edit_reference_path(@reference) %> |
<%= link_to 'Back', references_path %>
